---
import Layout from "@/layouts/Layout.astro"

import AboutMe from "@/components/AboutMe.astro"
import Briefcase from "@/components/icons/Briefcase.astro"
import CodeIcon from "@/components/icons/Code.astro"
import Experience from "@/components/Experience.astro"
import ProfileCheck from "@/components/icons/ProfileCheck.astro"
import Projects from "@/components/Projects.astro"
import SectionContainer from "@/components/SectionContainer.astro"
import Hero from "@/components/Hero.astro"
import TitleSection from "@/components/TitleSection.astro"
---

<Layout
  title="Alejandro Figueroa - Software Engineer"
  description="Software Engineer with 5 years of experience. Specialized in the development of unique web applications. Contact me to create your web or mobile application."
>
  <main class="px-4">
    <SectionContainer class="py-20 md:py-44 min-h-[calc(100vh-80px)] flex items-center">
      <Hero />
    </SectionContainer>

    <div class="space-y-32">
      <SectionContainer id="experiencia">
        <TitleSection>
          <Briefcase class="size-6" />
          Work Experience
        </TitleSection>
        <Experience />
      </SectionContainer>

      <SectionContainer id="proyectos">
        <TitleSection>
          <CodeIcon class="size-6" />
          Projects
        </TitleSection>
        <Projects />
      </SectionContainer>

      <SectionContainer id="sobre-mi">
        <TitleSection>
          <ProfileCheck class="size-6" />
          About me
        </TitleSection>
        <AboutMe />
      </SectionContainer>
    </div>
  </main>
</Layout>
