---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Actualmente...",
    title: "Desarrollador Fullstack",
    company: "Empresa Mixta Z17",
    description:
      "Desarrollo integral de aplicaciones y sistemas de cualquier tipo, tanto frontend como backend, adaptados a las necesidades de los clientes. Participación en todas las fases del ciclo de vida del software, desde la planificación hasta el despliegue y mantenimiento.",
  },
  {
  date: "Junio 2024 - Actualmente",
  title: "Principal Frontend Engineer",
  company: "DixBase",
  description:
    "Principal responsable del desarrollo frontend de la empresa, liderando el diseño, implementación y optimización de la interfaz de usuario para todos los sistemas internos y externos. Encargado de la arquitectura y lógica del lado del cliente, asegurando un alto rendimiento, accesibilidad y experiencia de usuario consistente en todos los proyectos.",
}
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
